GOOGLE_CLIENT_ID=YOUR_GOOGLE_PROJECT_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_PROJECT_CLIENT_SECRET_HERE
NEXTAUTH_SECRET=YOUR_NEXT_AUTH_SECRET_HERE
ROOT_DOMAIN=localhost:3000

# restrict to one domain (example)
# OR multiple domains using sample separated by comma
ALLOWED_EMAIL_DOMAINS=gmail.com

# restrict allowed email sign-ins
# ALLOWED_EMAILS=user@gmail.com,tester@gmail.com

# Build flags
IS_BUILD_STATIC=0
IS_BUILD_DOCKER=1

# Set IS_WEBPACK=1 and WATCHPACK_POLLING=true
# When running Docker in Windows (docker compose up)
IS_WEBPACK=0
WATCHPACK_POLLING=false

# App info
APP_NAME="Fumadocs Template"
APP_SHORT_NAME=Fumadocs
APP_DESCRIPTION="Clean, beautiful, modular documentation template built with Fumadocs + Google OAuth2 and Docker configs"

# GitHub info
GH_USERNAME=YOUR_GITHUB_USERNAME
GH_REPOSITORY=YOUR_GITHUB_REPOSITORY_URL
GH_REPO_DEFAULT_BRANCH=main
